footer {
    padding: 5px;
    background-color: rgb(54, 138, 138);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

p {
    color: white;
    text-align: center;
}

.container-for-ref {
    display: flex;
    flex-direction: row;
}

a.facebook-ref {
    background: url("..//images/fb_gray.png") no-repeat 50% 50%;
    display: block;
    width: 100px;
    height: 100px;
}

a.facebook-ref:hover {
    background: url("..//images/fb.png") no-repeat 50% 50%;
}

a.instagram-ref {
    background: url("..//images/insta_gray.png") no-repeat 50% 50%;
    display: block;
    width: 100px;
    height: 100px;
}

a.instagram-ref:hover {
    background: url("..//images/insta.png") no-repeat 50% 50%;
}

a.youtube-ref {
    background: url("..//images/youtube_gray.png") no-repeat 50% 50%;
    display: block;
    width: 100px;
    height: 100px;
}

a.youtube-ref:hover {
    background: url("..//images/youtube.png") no-repeat 50% 50%;
}