* {
    box-sizing: border-box;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body * {
    border: 1px solid black;
    padding: 25px 15px;
    margin-bottom: 10px;
}

header {
    background-color: violet;
}

.menu {
    background-color: blueviolet;
}

main {
    margin-left: 21%;
    margin-right: 16%;
    background-color: aqua;
}

section {
    background-color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aside-left-side1 {
    float: left;
    width: 20%;
    background-color: aqua;
}

.aside-left-side2 {
    float: left;
    clear: both;
    width: 20%;
    background-color: aqua;
}

.aside-right-side {
    writing-mode: vertical-lr;
    float: right;
    width: 15%;
    background-color: aqua;
}

footer {
    clear: both;
    background-color: blueviolet;
}