ul {
    list-style: none;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

a:hover {
    background-color: rgb(75, 70, 58);
}

nav {

    background-color: gray;
    width: 240px;
    height: 351px;
}