.menuItem {
    background-color: gray;
    height: 60px;
    width: 150px;
    writing-mode: horizontal-tb;
}

li {
    background-color: gray;
    width: 200px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    background-color: rgb(75, 70, 58);
}

header nav ul li {
    display:  inline;
}

nav a {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}